* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive, Monaco;
}

body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  background-image: url("./Background.jpg");
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box,
.box2 {
  border: 2px solid white;
  width: 23%;
  color: white;
}

.top-half-one {
  height: 50%;
}

.bottom-half-one {
  height: 50%;
}

.main {
  display: flex;
}

header {
  color: red;
  margin: auto;

  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2px solid red;
  width: 50%;
  margin: auto;
  height: 80vh;
}
.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.grid div {
  height: 9.09%;
  width: 9.09%;
}

.grid div.goodPokemon {
  background-image: url("https://img.pokemondb.net/sprites/black-white/anim/back-normal/charizard.gif");
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.evilPokemon {
  background-image: url("https://img.pokemondb.net/sprites/black-white/anim/normal/blastoise.gif");
  background-repeat: no-repeat;
  background-size: contain;
}

.flame {
  background-image: url("flame.png");
}

.grid div.charmanderBackwards {
  background-image: url("https://img.pokemondb.net/sprites/black-white/anim/back-normal/charmander.gif");
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.charmanderForwards {
  background-image: url("https://img.pokemondb.net/sprites/black-white/anim/normal/charmander.gif");
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.motherCharizard {
  background-image: url("https://img.pokemondb.net/sprites/black-white/anim/back-shiny/charizard.gif");
  background-repeat: no-repeat;
  background-size: contain;
}
