* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive, Monaco;
}

body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  background-image: url("./Background.jpg");
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box,
.box2 {
  border: 2px solid white;
  width: 23%;
  height: 80vh;
  color: white;
}

.top-half-one {
  height: 100%;
}

.main {
  display: flex;
}

header {
  color: red;
  margin: auto;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

#start {
  color: white;
  justify-content: center;
  align-items: center;
  border: 0.2px solid red;
  width: 50%;
  margin: auto;
  font-size: 3em;
  height: 80vh;
  text-align: center;
  display: flex;
  min-height: 80vh;
  max-height: 80vh;
  max-width: 50%;
  min-width: 50%;
}

.start-msg {
  flex-wrap: wrap;
  flex-direction: column;
}
#gameover {
  color: white;
  justify-content: center;
  align-items: center;
  border: 0.2px solid red;
  width: 50%;
  margin: auto;
  font-size: 3em;
  height: 80vh;
  text-align: center;
  display: none;
  min-height: 80vh;
  max-height: 80vh;
  max-width: 50%;
  min-width: 50%;
}

.gameover-msg {
  display: flex;
  flex-direction: column;
}

.play-again,
.start-button {
  color: white;
  background-color: lightblue;
  border-radius: 5px;
  width: 30%;
  height: 30%;
  font-size: 0.7em;
  margin: auto;
  text-align: center;
}

.grid-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  border: 0.2px solid red;
  width: 50%;
  margin: auto;
  height: 80vh;
}
.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.grid div {
  height: 9.09%;
  width: 9.09%;
  color: white;
}

.grid div.goodPokemon {
  background-image: url("https://img.pokemondb.net/sprites/black-white/anim/back-normal/charizard.gif");
  background-repeat: no-repeat;
  background-size: contain;
}

.flame {
  background-image: url("https://c.tenor.com/VUH3A7tK-qgAAAAj/dm4uz3-foekoe.gif");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}

.grid div.charmanderBackwards {
  background-image: url("https://img.pokemondb.net/sprites/black-white/anim/back-normal/charmander.gif");
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.charmanderForwards {
  background-image: url("https://img.pokemondb.net/sprites/black-white/anim/normal/charmander.gif");
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.motherCharizard {
  background-image: url("https://img.pokemondb.net/sprites/black-white/anim/back-shiny/charizard.gif");
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.blastoise {
  background-image: url("https://img.pokemondb.net/sprites/black-white/anim/normal/blastoise.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}

.grid div.dragonite {
  background-image: url("https://img.pokemondb.net/sprites/black-white/anim/normal/dragonite.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.gengar {
  background-image: url("https://img.pokemondb.net/sprites/black-white/anim/normal/gengar.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

.explosion {
  background-image: url("https://tenor.com/view/boom-explosion-gif-7707352");
  background-size: contain;
  background-repeat: no-repeat;
}

.water {
  background-image: url("https://media4.giphy.com/media/H1S4ztIWxQLoWrRAbr/giphy.gif?cid=ecf05e479lzv7o9q5q75r153k0zx89ommbkoa1pxcdwb2k8s&rid=giphy.gif&ct=g");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.purpleball {
  background-image: url("https://img.pokemondb.net/sprites/black-white/anim/shiny/gastly.gif");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.dragoniteflame {
  background-image: url("https://c.tenor.com/I0w9VW2gaL8AAAAi/lightning-bolt-thunder.gif");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

#hp-bar {
  display: flex;
}

#hp-bar progress {
  width: 70%;
  margin: left;
  border: 2px solid darkblue;
  border-radius: 5px;
}

.rules {
  text-align: center;
  list-style: none;
  margin: auto;
  margin-top: 10%;
}

span {
  color: red;
}
li {
  list-style: none;
}

.left-charizard {
  transform: scaleX(-1);
}

@keyframes rotating {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
